@import"variables";
@import"especificos";
@import"imagenes";
@import"texto";


/*principales*/

*{
    margin:0px;
    padding:0px;
}

.contenedor {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .Coso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

@media only screen and (min-width: 768px) {
    .contenedor {
        padding-right: 15px;
        padding-left: 15px;
      }
    }


.Centrar {
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: $colorFondo;
    font-weight: 500;
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/*navbar*/

.navbar {

    font-size: 25px;
    font-weight:200;
	display: flex;
	justify-content:center;
	padding: 20px 0;
    animation-duration: 2s;
    animation-name:aparecer;
    background-color:transparent!important;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.container-fluid{
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    align-items: center;
}


/*carrousel*/

    .w-100 {
        width: 95%!important;
    }



/*footer*/

footer {
    position:absolute;
    width:100%;
    background-color: $colorCinco;
    margin-top: 20px;
}

.footerCentrado {
    text-align: center;
    font: 15px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 80px;
    }

.footerTexto {
        font-size: 20px;
        margin: 0;
        }

.footerCopyright {
    font-size: 15px;
    margin: 0;
}

.footerLinks {
    text-decoration: none;
    outline: none;
}
